version: '3.8'

services:
  # (Postgres)
  db:
    image: postgres:15  
    volumes:
      - postgres_data:/var/lib/postgresql/data # برای ذخیره دائمی اطلاعات دیتابیس
    environment:
    
      - POSTGRES_DB=concertdb
      - POSTGRES_USER=userconcert
      - POSTGRES_PASSWORD=12345 

  # (web)
  web:
    build: 
    command: python manage.py runserver 0.0.0.0:8000 
    volumes:
      - .:/app 
    ports:
      - "8000:8000"  
    depends_on:
      - db 
    environment:
       
      - DB_NAME=concertdb
      - DB_USER=userconcert
      - DB_PASSWORD=12345
      - DB_HOST=db  
      - SECRET_KEY=your_django_secret_key_here 
      - DEBUG=True 

volumes:
  postgres_data: 
